<!DOCTYPE html>
<html>

<head>

<title>Bhaiyaji Sports</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

</head>


<body>


<header>

<h1>🏏 Bhaiyaji Sports</h1>

<p>Luxury Cricket Equipment Store</p>


<form>

<input 
type="text"
name="search"
placeholder="Search Cricket Products">


<button>
🔍 Search
</button>

</form>


</heade>

{% if user %}

<div class="auth-links">
    <h3>👋 Welcome {{ user }}</h3>
    <a class="auth-btn" href="/logout">Logout</a>
</div>

{% else %}

<div class="auth-links">
    <a class="auth-btn" href="/login">Login</a>
    <a class="auth-btn" href="/signup">Signup</a>
</div>

{% endif %}

<section class="products">


{% for product in products %}


<div class="card">

<h2>{{ product["name"] }}</h2>

<h3>{{ product["price"] }}</h3>

<p>{{ product["description"] }}</p>

<a href="/product/{{ loop.index0 }}">
<button>
🎥View Details
</button>
</a>

</div>


</div>


{% endfor %}


</section>



<footer>

<h3>📞 Contact</h3>

<p>+91 9413255885</p>
<p>+91 8619192332</p>

<p>📍 Gamotwara, Sagwara, Dungerpur (Raj.)</p>

</footer>


</body>

</html>
